body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-color: #1e409f;
    /* color: aliceblue; */
    /* color: rgb(7, 0, 0); */

  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

   /* background-color: #1900ffa4; */
   background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  border: 5px solid rgb(26, 107, 194);
  width: 15rem;
  margin-left: 10rem;
  padding: 12px;
   color: rgb(7, 0, 0);
   background-color: rgb(244, 210, 59);
      box-shadow: 0px 0px 12px 10px #1650e4;



}
.subtitle{
  color: beige;
}
.container{
  width: 35rem;
  height: 25rem;
    border: 4px solid rgb(231, 6, 216);
  /* border: 5px solid rgb(197, 231, 6); */
  /* border: 5px solid blue; */
  margin: auto;
  text-align: center;
  margin-top: 52px;
}
.Players{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  gap: 20px;
  /* color: black; */

}
.dice{
  font-size: 2rem;
}
#computer-dice{
  /* font-size: 1rem; */

}
.player-box{
  border: 1px solid black;
  padding: 12px;
  width: 12rem;
    border: 2px solid black;
  /* border: 5px solid rgb(58, 131, 209); */
 /* box-shadow: 0px 0px 12px 10px #00f7ff; */
  /* box-shadow: 0px 0px 11px 5px #de0a66; */
   box-shadow: 0px 0px 12px 10px #e416bb;
  color: black;
  background-color: #4A00E0;
}
button{
  border: none;
  padding: 15px;
  margin-top: 5px;
  border: 3px solid rgb(231, 190, 6);
  background-color: rgb(26, 107, 194);
  color: aliceblue;
  font-size: 0.9rem;

}
button:hover{
background-color: rgb(13, 146, 146);
color: black;
}
#result{
  color: aliceblue;
  padding-top: 5px;
/* margin-top: 5px; */
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 32rem;
  font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
@media screen and (max-width: 571px) {
  h1{
  border: 1px solid black;
  width: 12rem;
  margin-left: 6rem;
  padding: 8px;
}
  .container{
    width: 25rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;

  }
  .Players{
    display: flex;
 padding: 8px;
 color: aliceblue;
  }
  .player-box{
  border: 1px solid black;
  padding: 9px;
  width: 6rem;
  
}
button{
  margin-top: 8px ;
  padding: 8px;
  width: 9rem;
  margin: auto;

}
footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 10rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}
@media screen and (max-width: 999px) {
  footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 25rem;
  display: flex;
  margin-left: 19rem;
  padding: 0.5rem;
  
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}
@media screen and (max-width: 889px) {

footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 19rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}
@media screen and (max-width: 699px) {

footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 14rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}


@media screen and (max-width: 489px) {
 h1{
  border: 1px solid black;
  width: 10rem;
  margin-left: 5rem;
  padding: 8px;
}
  .container{
    width: 19rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;

  }
  .Players{
    display: flex;
 padding: 8px;
  }
  .player-box{
  border: 1px solid black;
  padding: 9px;
  width: 6.5rem;

}
button{
  margin-top: 8px ;
  padding: 8px;
  width: 9rem;
  margin: auto;

}
footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 6.5rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}
@media screen and (max-width: 355px) {
 h1{
  border: 1px solid black;
  width: 10rem;
  margin-left: 3rem;
  padding: 8px;
}
  .container{
    width: 16rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;

  }
  .Players{
    display: flex;
 padding: 6px;
  }
  .player-box{
  border: 2px solid black;
     

  padding: 9px;
  width: 6.5rem;

}
button{
  margin-top: 8px ;
  padding: 8px;
  width: 9rem;
  margin: auto;

}
footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  display: flex;
  margin-left: 3.2rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}


@media screen and (max-width: 299px) {
 h1{
  border: 1px solid black;
  width: 10rem;
  margin-left: 3rem;
  padding: 8px;
}
  .container{
    width: 16rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;

  }
  .Players{
    display: flex;
 padding: 6px;
  }
  .player-box{
  border: 2px solid black;
     

  padding: 9px;
  width: 6.5rem;

}
button{
  margin-top: 8px ;
  padding: 8px;
  width: 9rem;
  margin: auto;

}
footer h2{
  color: black;
  text-align: center;
  border: 3px solid rgb(52, 25, 150);
  margin-top: 15px;
  width: 15rem;
  /* display: flex; */
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
       box-shadow: 0px 0px 12px 10px rgb(231, 190, 6);

}
}





